@model List<SimpleCRUD.Models.DGCourse>

@{
    ViewBag.Title = "Show Table";
}

<h2>List of Disc Golf courses</h2>
<br />
<a href="/DGCourses/CreateDGCourse">Add a New Disc Golf Course</a>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            Status
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.State
            </td>
            <td>
                @item.Zip
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @*
                    Demonstration of using finding and using the item index of the list
                *@
                <a href="/DGCourse/ShowDetail?id=@item.ID" )">View</a>&nbsp;&nbsp;
                <a href="/DGCourse/UpdateBrewery?id=@item.ID">Edit</a>&nbsp;&nbsp;
                <a href="/DGCourse/DeleteBrewery?id=@item.ID">Delete</a>&nbsp;&nbsp;
            </td>
        </tr>
    }
</table>

